---
Language: Cpp

BasedOnStyle: LLVM

Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 160

AccessModifierOffset: -2

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: All
FixNamespaceComments: true
CompactNamespaces: false

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortNamespacesOnASingleLine: false

IndentCaseLabels: true
IndentCaseBlocks: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never

BreakInheritanceList: BeforeComma

AlignAfterOpenBracket: BlockIndent
AlignOperands: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: false

BinPackArguments: false
BinPackParameters: false

Cpp11BracedListStyle: true

EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

SeparateDefinitionBlocks: Always

SortIncludes: true
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: false

SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false

SpacesBeforeTrailingComments: 1

IndentRequiresClause: true
RequiresClausePosition: OwnLine

PenaltyBreakBeforeFirstCallParameter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

QualifierAlignment: Right

DerivePointerAlignment: false

ReflowComments: true